@model IEnumerable<SingaTest.ViewModels.DetailsView>

@{
    ViewBag.Title = "Home Page";
}

<hr />


<p align="right">
    <button id="editBtn" onclick="editRows()">Edit</button>
    <button id="saveBtn" onclick="saveData()" hidden>Save</button>
</p>

<hr />


<table class="table table-bordered table-hover" id="datatable" border="1">
    <thead style="background-color: paleturquoise">

        <tr>
            <th> E-CS </th>
            <th> B.Cat </th>
            <th> Series </th>
            <th> Jan </th>
            <th> Feb </th>
            <th> Mar </th>
            <th> Apr </th>
            <th> May </th>
            <th> Jun </th>
            <th> Jul </th>
            <th> Aug </th>
            <th> Sep </th>
            <th> Oct </th>
            <th> Nov </th>
            <th> Dec </th>
            <th>Total</th>
        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="12"  class="text-center">2022</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody" id="tblbody">
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    <input type="number" disabled id="monthId" size="1" value="@(item.MonthId)" />
                </td>
                <td class="EcsNameId">
                    <span>@item.Ecs</span>
                </td>
                <td class="EcsNameId">
                    <span>@item.Bcat</span>
                </td>
                <td class="EcsNameId">
                    <span>@item.Series</span>
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 1 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m1" style="width: 3em" value="@(item.Jan)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 2 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m2" style="width: 3em" value="@(item.Feb)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 3 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m3" style="width: 3em" value="@(item.March)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 4 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m4" style="width: 3em" value="@(item.April)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 5 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m5" style="width: 3em" value="@(item.May)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 6 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m6" style="width: 3em" value="@(item.June)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 7 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m7" style="width: 3em" value="@(item.July)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 8 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m8" style="width: 3em" value="@(item.August)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 9 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m9" style="width: 3em" value="@(item.September)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 10 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m10" style="width: 3em" value="@(item.October)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 11 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m11" style="width: 3em" value="@(item.November)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <input type="number" class="@(System.DateTime.Now.Month <= 12 ? "ActiveMonth" : "")"
                           disabled id="@(item.MonthId)Month-m12" style="width: 3em" value="@(item.December)" onchange="getRowTotal(@item.MonthId)" />
                </td>
                <td>
                    <span id="totalRow@(item.MonthId)" size="1">@(item.Total)</span>
                </td>


            </tr>
        }
    </tbody>
    @Html.AntiForgeryToken()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</table>



<script language="javascript" type="text/javascript">

    $(document).ready(function () {

    });

    var data = [];
    var monthList = [];

    //change value to total column dynamically
    function getRowTotal(rowNo) {

        var total = 0;

        for (var i = 1; i <= 12; i++) {
            total = total + parseInt($('#' + rowNo + 'Month-m' + i).val());
        }

        $("#totalRow" + rowNo).text(total);
    }

    //edit button handler
    function editRows() {

        $('#editBtn').prop('hidden',true);
        $('#saveBtn').removeAttr('hidden');

        $('.ActiveMonth').prop('disabled', false);

    }

    //gets all the cell values
    function findCellValues() {

        $("#tblbody td").find('input[type=number]').each(function (id, value) {
            data.push(this.value);
        });
    }

    //create object for AJAX call
    function manipulateData() {

        let counter = data.length / 13;
        let x = 0;
        let y = 13;

        for (let i = 0; i < counter; i++) {

            const SlicedArray = data.slice(x, y);

            var MonthInfo = {
                MonthId: SlicedArray[0],
                Jan: SlicedArray[1],
                Feb: SlicedArray[2],
                March: SlicedArray[3],
                April: SlicedArray[4],
                May: SlicedArray[5],
                June: SlicedArray[6],
                July: SlicedArray[7],
                August: SlicedArray[8],
                September: SlicedArray[9],
                October: SlicedArray[10],
                November: SlicedArray[11],
                December: SlicedArray[12]
            }

            monthList.push(MonthInfo);

            x = x + 13;
            y = y + 13;
        }
    }

    //Save data
    function saveData() {
        findCellValues();
        manipulateData();

        var token = $('[name=__RequestVerificationToken]').val();
        var headers = {};
        headers["__RequestVerificationToken"] = token;
       
        $.ajax({
            url: '@Url.Content("~/Home/UpdateMonthData")',
            headers: headers,
            data: JSON.stringify(monthList),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                alert("Updated Succesfully!");

                $('#saveBtn').prop('hidden', true);
                $('#editBtn').removeAttr('hidden');
            },
            error: function () {
                alert("ERROR! Updating records");

                $('#saveBtn').prop('hidden', true);
                $('#editBtn').removeAttr('hidden');
            }
        })
        }

</script>

<style>
    #th {
        text-align: center;
    }
</style>